 /*Fonts*/
 @font-face {
   font-family: "PT Roboto";
   src: url("../fonts/roboto.woff2");format("woff2")
        url("../fonts/roboto.woff");format("woff")
   font-weight:400;
   font-style: normal;
 }
 @font-face {
   font-family: "PT Roboto";
   src: url("../fonts/robotobold.woff2");format("woff2")
        url("../fonts/robotobold.woff");format("woff")
   font-weight:700;
   font-style: normal;
 }
 /*Variables*/
 :root {
   /*logo*/
   --logo-focus:#A6A6A6;
   /*text*/
   --heading-color:#000000;
   --content-color:#283136;
   --basic-white:#FFFFFF;
   --text-contact-cart:#666666;
   --footer-benefit:#444444;
   --ui-input-border-hover: #B4B9BB;
   --ui-input-border-color: #D7DCDF;
   --transparent: rgba(0, 0, 0, 0);
   --modal-shadow: rgba(0, 0, 0, 0.4);
   /*buttons*/
   --basic-red:#FB565A;
   --focus-red:#E74246;
   --click-red:#D7373B;

   --basic-green:#00CA74;
   --focus-green:#00BC6C;
   --click-green:#00AA62;

   --basic-yellow:#EFC849;
   --focus-yellow:#EAB534;
   --click-yellow:#E5A722;

   /*button and background slider*/
   --basic-grey:#EEEEEE;
   --focus-grey:#DFDFDF;
   --click-grey:#D5D5D5;

   /*social*/
   --basic-social-icon:#E1E1E1;
   --focus-social-icon:#E74246;
   --click-social-icon:#D7373B;

   /*catalog cart head*/
   --catalog-cart-head:#4D4D4D;
 }


 /*Global*/
 .page-body {
   min-width: 1160px;
   font-family: " RT Roboto";
   font-size: 16px;
   line-height: 24px;
   font-weight: 400;
   color:var(--heading-color);
   min-height: 100%;
   text-transform: none;
   min-font-size: 100%;
   display: grid;
   grid-template-rows: min-content 1fr min-content;
   align-content: start;
 }
 a {
   color: var(--heading-color);
   text-decoration: none;
 }
 li {
   list-style: none;
 }
img{
  max-width: 100%;
  height: auto;
}
 /*buttons*/
 .button,
 .modal-close {
   border: none;
   font-size: 16px;
   line-height: 18px;
   font-weight: 500;
   color: var(--basic-white);
   background-color: var(--basic-red);
 }
 .button-gray{
   background:var(--basic-grey);
   border-radius: 3px;
   width: 260px;
   height: 50px;
 }

 .button-yellow {
   background-color: var(--basic-yellow);
 }
 .button-green {
   background-color: var(--basic-green);
 }
 .social-button {
   color: #D7373B;
 }
 .social-icon {
   background-color:var(--basic-social-icon);
 }

 /*стили поведения при наведении*/
 .button:hover,
 .button:focus {
   background-color: var(--focus-red);
 }

 .button-yellow:hover,
 .button-yellow:focus {
   background-color: var(--focus-yellow);
 }
 .button-green:hover,
 .button-green:focus {
   background-color: var(--focus-green);
 }

 /*Grid*/
 .page {
   min-width: 1160px;
   margin: 0;
   padding: 0;
   font-family: "Roboto", "Arial", sans-serif;
   color: var( --heading-color);
 }
 .page-body{
   height: 100%;
   display: grid;
   grid-template-rows: min-content 1fr min-content;
   align-content: start;
 }
 .visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: none;
   padding: 0;
   clip: rect(0 0 0 0);
   overflow: hidden;
 }
 /* Layout */
 .page {
   height: 100%;
 }
 .page-body {
   height: 100%;
   display: grid;
   grid-template-rows: min-content 1fr min-content;
   align-content: start;
 }
 /*  Layout - Main navigation */
 .main-navigation-wrapper {
   display: flex;
   width: 1160px;
   align-items: center;

   margin: 0 auto;
 }

 .main-header {
   margin-bottom: 0;
 }

 .navigation-list {
   display: flex;
   margin: 0 auto;
   margin-top: 5px;
 }

 .navigation-list .navigation-item {
   margin-right: 45px;
 }

 .navigation-list .navigation-item:last-child {
   margin: 0;
 }

 .main-header {
   height: 129px;
   margin-bottom: 80px;
   padding-top: 49px;

 }
 /*Main navigation*/
 .main-header {
   height: 114px;
 }

 .main-logo:active path {
   fill: var(--logo-focus);
 }

 .main-navigation {
   font-size: 16px;
   font-weight: 500;
   line-height: 30px;
   text-transform: uppercase;
   color: var(--heading-color);
   padding-top: 49px;
   background-color: var(--basic-white);

 }

 .main-navigation a[href]:hover {
   color: var(--basic-red);
 }

 .main-navigation a:focus {
   color: var(--basic-red);
 }

 .navigation-list {
   list-style: none;
   padding: 0;
   padding-right: 47px;
 }

 .navigation-link {
   position: relative;
   text-decoration: none;
   color: var(--heading-color);
 }

 .navigation-item {
   position: relative;
 }

 .navigation-item-current::after {
   content: "";
   position: absolute;
   display: block;
   left: 0;
   right: 0;
   bottom: -16px;
   height: 2px;
   background-color: var(--basic-red);
 }

 .cart-link {
   position: relative;
   width: 115px;
   text-align: right;
   margin-top: 5px;
 }

 .cart-link::before {
   content: "";
   position: absolute;
   width: 15px;
   height: 15px;
   background-image: url("../img/cart-icon.svg");
   left:-25px;
   top: 8px;
 }

 .list-title {
   font-size: 55px;
   line-height: 55px;
   font-weight: 500;
 }
 .list-description {
   color: var(--content-color);
 }

 .services-list{
   line-height: 30px;
 }
 .services-item{
   font-weight: 400;
 }

 .article-title{
   font-size: 45px;
   line-height: 45px;
   font-weight: 500;
 }
.article-item{
  font-weight: 400;
}
 .orders {
   font-size: 16px;
   line-height: 24px;
 }
 .orders-list {
   font-weight: 400;
 }
 .orders-item {
   list-style: circle;
 }
 .accuracy-percent {
   font-size: 45px;
   line-height: 64px;
 }
 .accuracy-tag {
   font-size: 16px;
   line-height: 18px;
   font-weight: 400;
 }
/*container*/
 .container{
   margin: 0 auto;
   padding: 0 10px;
 }

 /*features*/
 .features{
   margin-bottom:80px;

 }
 .features-list{
   display: grid;
   margin: 0;
   padding: 0;
   list-style: none;
 }

 .services-list{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   margin: 0;
   padding: 0;
   column-gap:100px;
 }

 /*article*/
 .article{
   display: grid;
   grid-template-columns: 1fr 1fr ;

 }

 .partners-list{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   margin: 0;
   padding: 0;
   column-gap:95px;
 }
 /* main-footer*/
 .main-footer{
   padding:68px 0;
   margin-top: 68px;
 }
 .footer-contacts{
   display: grid;
   grid-template-columns: 1fr;
 }

.footer-below{
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.footer-social{
  width: 261px;
}
.footer-slogan{
  width: 660px;
  justify-self: center;
}
 .contacts-title {
   font-size: 18px;
   line-height: 30px;
 }
 .contacts-text {
   font-size: 16px;
   line-height: 18px;
   font-weight: 400;
 }
 .footer-slogan{
   font-size: 36px;
   line-height: 36px;
 }
 .footer-item{
   font-size: 16px;
   line-height: 22px;
   font-weight: 400;
 }

    /*CATALOG*/

 /*container*/
 .page-catalog{
   display: grid;
   grid-template-columns: 1fr;
   column-gap: 100px;
 }
 .catalog-list{
   display: flex;
   align-items: center;
   font-family: Roboto;
   font-style: normal;
   font-weight: 500;
   font-size: 55px;
   line-height: 55px;
 }

 .catalog-title{
   display: flex;
   align-items: center;
   text-transform: uppercase;

 }
 .sort{
   display: flex;
 }
.sort-list{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}
.field-type{
  display: flex;
}

.field-item{
  mix-blend-mode: normal;
  opacity: 0.3;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

}
 .index-columns{
   display: grid;
   grid-template-columns: 1fr 2fr;
   align-items: center;
   padding: 0;
   margin-left: 50px;

 }
 .sidebar-list{
   display: flex;
   align-items: center;
   text-transform: uppercase;
   font-family: Roboto;
   font-style: normal;
   font-weight: bold;
   font-size: 18px;
   line-height: 30px;
 }
 .sidebar-price{
   border: none;
}
 .sidebar-features{
   border: none;
 }
 .sidebar-grid{
   border: none;
 }

 .cart-item-image{
   width:358px;
   height:578px;
   margin: 0;
 }
.cart-catalog{
  display: flex;
  flex-wrap: wrap;
}
 .cart-item {
   width: 360px;
   min-height: 398px;
   font-weight: 400;
   margin-bottom: 32px;
   margin-right: 42px;
   font-size: 16px;
   line-height: 18px;
   color: var(--text-contact-cart);
   background-color: var(--basic-grey);
   box-shadow: 0 0 10px rgba(0,0,0,0.1);
 }

 .cart-name {
   font-weight: 700;
   font-size: 18px;
   line-height: 30px;
   color: var(--heading-color);
 }
 .pagination-list {
   display: flex;
   flex-wrap: wrap;
   font-weight: 500;
   font-size: 16px;
   line-height: 18px;
   color: var(--heading-color);
 }
 /*стили повидения каталога*/
 .grid-list:hover,
 .properties-list:hover {
   opacity: 50%;
 }
 .field-type:hover,
 .field-direct:hover {
   opacity: 50%;
 }
 .cart-name:hover {
   color: var(--basic-red);
 }
 .pagination-list:hover {
   background-color: var(--focus-grey);
 }


 /* Modal */

 .modal {
   display: none;
   position: fixed;
   left: 0;
   right: 0;
   top: 50%;
   transform: translateY(-50%);
   z-index: 99;

   margin: auto;

   background-color: var(--basic-white);
   box-shadow: 0px 20px 40px var(--modal-shadow);
 }

 .modal-show {
   display: block;
   animation: bounce 0.6s;
 }

 .modal-feedback {
   width: 760px;
   padding-left: 100px;
   padding-right: 100px;
   padding-bottom: 84px;
   padding-top: 63px;
 }

 .feedback-form {
   display: grid;
   grid-template-columns: 1fr 1fr;
   column-gap: 40px;
   row-gap: 34px;
 }

 .modal-half-container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
 }

 .modal-alone-container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   width: 760px;
   margin-bottom: 12px;
   grid-column-start: 1;
   grid-column-end: 3;
 }

 .modal-alone-container textarea {
   height: 86px;
   resize: none;
 }
 .modal-title {
   font-size: 45px;
   line-height: 53px;
   color: var(--heading-color);
   margin: 0px;
   padding-right: 40px;
   margin-bottom: 37px;
 }

 .form-label {
   width: 100%;
   font-weight: 700;
   font-size: 16px;
   line-height: 18px;
   color: var(--heading-color);
   margin-bottom: 10px;
 }

 .modal-input {
   width: 100%;
   padding-left: 16px;
   padding-right: 16px;
   padding-top: 14px;
   padding-bottom: 14px;
   box-shadow: none;
   border: 2px solid var(--ui-input-border-color);
   border-radius: 3px;
 }

 .modal-input:hover {
   border-color: var(--ui-input-border-hover);
 }

 .modal-input:focus {
   border-color: var(--heading-color);
   outline: 0px;
   outline-offset: 0;
 }

 .modal-input:not(:placeholder-shown):invalid {
   border-color: var(--basic-red);
 }

 .modal-close {
   position: absolute;
   cursor: pointer;
   right: 90px;
   top: 80px;

   width: 21px;
   min-height: 21px;

   background-color: var(--transparent);
   border: none;
   box-shadow: none;
   opacity: 0.3;
 }

 .modal-close::before,
 .modal-close::after {
   content: "";
   display: block;

   position: absolute;
   top: 8px;
   left: -3px;

   width: 27px;
   height: 4px;

   background-color: var(--basic-red);
   border-radius: 1px;
 }

 .modal-close::before {
   transform: rotate(45deg);
 }

 .modal-close::after {
   transform: rotate(-45deg);
 }

 .modal-close:hover {
   opacity: 1;
 }

 .modal-close:active {
   opacity: 0.1;
 }

 .modal-submit {
   min-width: 259px;
   margin-right: auto;
 }



