 /*Fonts*/
 @font-face {
   font-family: "PT Roboto";
   src: url("../fonts/roboto.woff2");format("woff2")
        url("../fonts/roboto.woff");format("woff")
   font-weight:400;
   font-style: normal;
 }
 @font-face {
   font-family: "PT Roboto";
   src: url("../fonts/robotobold.woff2");format("woff2")
        url("../fonts/robotobold.woff");format("woff")
   font-weight:700;
   font-style: normal;
 }
 /*Variables*/
 :root {
   /*logo*/
   --logo-focus:#A6A6A6;
   /*text*/
   --heading-color:#000000;
   --content-color:#283136;
   --basic-white:#FFFFFF;
   --text-contact-cart:#666666;
   --footer-benefit:#444444;
   --range-toggle-dot: #ABABAB;
   --ui-input-border-hover: #B4B9BB;
   --hover-shadow-color: rgba(0, 1, 1, 0.25);
   --basic-text-hover-color: rgba(0, 0, 0, 0.6);
   --basic-text-active-color: rgba(0, 0, 0, 0.3);
   --inner-shadow-color: rgba(0, 1, 1, 0.1);
   --ui-input-border-color: #D7DCDF;
   --transparent: rgba(0, 0, 0, 0);
   --range-active-color: #231F20;
   --toggle-shadow: rgba(0, 0, 0, 0.15);
   --modal-shadow: rgba(0, 0, 0, 0.4);
   /*buttons*/
   --ui-slider-active-color: #C1C1C1;
   --basic-red:#FB565A;
   --focus-red:#E74246;
   --click-red:#D7373B;

   --basic-green:#00CA74;
   --focus-green:#00BC6C;
   --click-green:#00AA62;

   --basic-yellow:#EFC849;
   --focus-yellow:#EAB534;
   --click-yellow:#E5A722;

   /*button and background slider*/
   --basic-grey:#EEEEEE;
   --focus-grey:#DFDFDF;
   --click-grey:#D5D5D5;

   /*social*/
   --basic-social-icon:#E1E1E1;
   --focus-social-icon:#E74246;
   --click-social-icon:#D7373B;

   /*catalog cart head*/
   --catalog-cart-head:#4D4D4D;
 }


 /*Global*/

 .page-body {
   min-width: 1160px;
   font-family: "Roboto", "Arial", sans-serif;
   font-size: 16px;
   line-height: 24px;
   font-weight: 400;
   color:var(--heading-color);
   min-height: 100%;
   text-transform: none;
   min-font-size: 100%;
   display: grid;
   grid-template-rows: min-content 1fr min-content;
   align-content: start;
 }
 a {
   color: var(--heading-color);
   text-decoration: none;
 }
 li {
   list-style: none;

 }
img{
  max-width: 100%;
  height: auto;
}
 .page-body {
   display: grid;
   grid-template-rows: min-content 1fr min-content;
   align-content: start;
 }

 /*buttons*/
 .button {
   display: inline-block;
   vertical-align: middle;
   cursor: pointer;
   border: none;
   box-shadow: none;
   font-weight: 500;
   font-size: 16px;
   line-height: 18px;
   text-align: center;
   text-transform: uppercase;
   color: var(--basic-white);
   background-color: var(--basic-red);

   border-radius: 3px;

   padding-top: 17px;
   padding-bottom: 15px;
   padding-left: 40px;
   padding-right: 40px;
 }
 .button-gray{
   background:var(--basic-grey);
   border-radius: 3px;
   width: 260px;
   height: 50px;
 }
 .filter-button {
   width:260px;
   height: 50px;
   border: none;
   border-radius: 3px;
   background-color: var(--basic-grey);
   color: var(--heading-color);
   margin-left: 40px;
 }

 .filter-button:hover {
   background-color: var(--focus-grey);
 }

 .filter-button:active {
   background-color: var(--click-grey);
   color: var(--basic-text-active-color)
 }
 /*стили поведения при наведении*/
 .presentation-button {
   background-color: var( --basic-yellow) ;
 }

 .presentation-button:hover {
   background-color: var(--focus-yellow) ;
 }

 .presentation-button:active {
   background-color: var(--click-yellow) ;
 }
 .button-yellow {
   background-color: var(--basic-yellow);
 }
 .app-button {
   background-color: var(--basic-green);
 }

 .app-button:hover {
   background-color: var( --focus-green);
 }

 .app-button:active {
   background-color: var(--click-green);
 }
 .button-green {
   background-color: var(--basic-green);
 }
 .social-button {
   color: #D7373B;
 }
 .social-icon {
   background-color:var(--basic-social-icon);
 }
 .promo-button {
   padding-left: 54px;
   padding-right: 54px;
 }
 .promo-button:hover{
   background:var(--focus-red);

 }
 .promo-button:active{
   background:var(--click-red);
 }
 .site-button:hover{
   background:var(--focus-red);
 }
 .site-button:active{
   background:var(--click-red);
 }
 .feedback-button:hover{
   background:var(--focus-red);
 }
 .feedback-button:active{
   background:var(--click-red);
 }
 .price-button:hover{
   background:var(--focus-red);
 }
 .price-button:active{
   background:var(--click-red);
 }
   /*Grid*/
 .page {
   font-family: "Roboto", "Arial", sans-serif;
   min-width: 1160px;
   margin: 0;
   padding: 0;
   color: var( --heading-color);
 }
 .page-body{
   height: 100%;
   display: grid;
   grid-template-rows: min-content 1fr min-content;
   align-content: start;
 }
 .visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: none;
   padding: 0;
   clip: rect(0 0 0 0);
   overflow: hidden;
 }
 /*  Layout - Main navigation */
 .main-navigation-wrapper {
   display: flex;
   flex-wrap: wrap;
   width: 1160px;
   align-items: center;
   margin: 0 auto;
 }
 .main-header {
   margin-bottom: 0;
 }
 .navigation-list {
   display: flex;
   margin: 0 auto;
   margin-top: 5px;
 }

 .navigation-list .navigation-item {
   margin-right: 45px;
 }

 .navigation-list .navigation-item:last-child {
   margin: 0;
 }

 /*Main navigation*/

 .main-logo:active path {
   fill: var(--logo-focus);
 }

 .main-navigation {
   font-size: 16px;
   font-weight: 500;
   line-height: 30px;
   text-transform: uppercase;
   color: var(--heading-color);
   padding-top: 49px;
   background-color: var(--basic-grey);

 }

 .main-navigation a[href]:hover {
   color: var(--basic-red);
 }

 .main-navigation a:focus {
   color: var(--basic-red);
 }

 .navigation-list {
   list-style: none;
   padding: 0;
   padding-right: 47px;
 }

 .navigation-link {
   position: relative;
   text-decoration: none;
   color: var(--heading-color);
 }

 .navigation-item {
   position: relative;
 }

 .navigation-item-current::after {
   content: "";
   position: absolute;
   display: block;
   left: 0;
   right: 0;
   bottom: -16px;
   height: 2px;
   background-color: var(--basic-red);
 }

 .cart-link {
   position: relative;
   width: 115px;
   text-align: right;
   margin-top: 5px;
 }

 .cart-link::before {
   content: "";
   position: absolute;
   width: 15px;
   height: 15px;
   background-image: url("../img/cart-icon.svg");
   left:-25px;
   top: 8px;
 }

 .list-title {
   font-size: 55px;
   line-height: 55px;
   font-weight: 500;
   margin-top: 0;
   margin-bottom: 26px;
   color: var(--heading-color);


 }
 .list-description {
   color: var(--content-color);
 }

 /* Layout - Services */

 .services-wrapper {
   width: 1160px;
   margin: 0 auto;
   padding-top: 80px;
   padding-bottom: 80px;
 }

 .services-list {
   display: grid;
   grid-template-columns: 300px 300px 300px;
   column-gap: 100px;
   padding: 0;
 }
 /* Services */

 .services {
   background-color: var(--basic-white);
 }

 .services-list {
   list-style: none;
   padding: 0;
   margin: 0;
 }

 .services-title {
   font-size: 24px;
   line-height: 30px;
   color: var(--heading-color);
   margin-bottom: 16px;

   align-items: center;
   text-transform: uppercase;
 }

 .services-text {
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   color: var(--text-contact-cart);
   margin-top: 0;
   margin-bottom: 33px;

   width: 260px;
 }

 .services-item::before {
   display: block;
   width: 300px;
   height: 146px;
 }

 .services-web::before {
   content: url("../img/computer.png");
   background-color: var(--basic-red);
 }

 .services-app::before {
   content: url("../img/telephone.png");
   background-color: var(--basic-green);
 }

 .services-presentation::before {
   content: url("../img/TV.png");
   background-color: var(--basic-yellow);
 }

 .article-title{
   font-size: 45px;
   line-height: 45px;
   font-weight: 500;
 }
.article-item{
  font-weight: 400;
}
 .orders {
   font-size: 16px;
   line-height: 24px;
 }
 .orders-list {
   font-weight: 400;
 }
 .orders-item {
   list-style: circle;
 }
 .accuracy-percent {
   font-size: 45px;
   line-height: 64px;
 }
 .accuracy-tag {
   font-size: 16px;
   line-height: 18px;
   font-weight: 400;
 }

 /* Layout - features */
 .features{

 }
 .features-container{
   position: relative;
   background:var(--basic-grey);
 }
 .promo-wrapper {
   position: relative;
   width: 1160px;
   margin: 0 auto;
   padding: 0;
 }
 .features-list{
   list-style: none;
   padding-bottom: 80px;
 }
 .slide-current {
   display: block;
 }
 .slide {
   position: relative;
   display:;
 }
 .features-description-container {
   position: relative;
   z-index: 1;
   padding-top: 78px;
   width: 560px;
 }
 .slide-image {
   width: 760px;
   height: 431px;
   z-index: 0;
   right: 0;
   top: 0;
 }
 .slider-controls{
   display: flex;
   flex-wrap: wrap;
   position: absolute;
   bottom: 96px;
   left: 50%;
   transform: translateX(-50%);
   z-index: 0;

 }

 .services-list{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   margin: 0;
   padding: 0;
   column-gap:100px;
 }
 .slider-button{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   width: 18px;
   height: 18px;
   border-radius: 50%;
   border: none;
   cursor: pointer;
   background: var(--basic-white);
   padding: 0;
 }
.slider-button::before{
  content:"";
  width: 4px;
  height: 4px;
  border: 2px solid var(--transparent);
  display: block;
  border-radius: 50%;
  position: absolute;
}
 .slider-button-current::before {
   border-color:  var(--ui-slider-active-color);
 }

 .slider-button:not(:last-child) {
   margin-right: 17px;
 }

   /*article*/
 .article{
   background-color: var(--basic-white)
 }
.article-wrapper{
  display: grid;
  grid-template-columns: 1fr 360px;
  column-gap: 140px;
  width: 1160px;
  padding-top: 39px;
  padding-bottom: 46px;
  margin: 0px auto;
}
.article-title{
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  padding: 0;
  margin: 0;
  margin-bottom: 33px;
  color: var(--heading-color);
}
.article-item{
  margin-bottom: 41px;
  font-size: 16px;
  line-height: 24px;
  color: var(--content-color);
}
 .article-caption,
 .accuracy{
   font-size: 16px;
   line-height: 24px;
   color: var(--content-color);
   text-transform: uppercase;
 }

.article-caption{
  margin-bottom: 11px;
}
 .orders-list{
   list-style: none;
   margin: 0;
   padding: 0;
   font-size: 16px;
   line-height: 48px;
   color: var(--content-color);
 }
 .orders-item::before{
   position: relative;
   content: "";
   display: inline-block;
   width: 25px;
   height: 2px;
   background:var(--basic-red);
   margin-right: 10px;
   top: -5px;
 }
.accuracy{
  display: block;
  text-align: center;
  font-weight: 700;
}
.accuracy::before{
  display: block;
  content: url("../img/nerds-illustration.svg");
  width: 360px;
  height: 208px;
  margin-bottom: 38px;
}
.accuracy-list{
  list-style: none;
  margin-top: 32px;
}
.accuracy-list{
  display: flex;
  justify-content: space-between;
  padding: 0px;
}

.accuracy-item{
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}
.accuracytext{
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
}
.accuracy-text{
  font-size: 16px;
  line-height: 18px;
  margin-top: 10px;
  color: var(--content-color);
}

 /* Clients */

 .clients {
   background-color: var(--basic-white);
   margin-bottom: 78px;
 }
 .clients-list {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   padding: 20px 0 0;
   margin: 0;
 }
 .clients::before,
 .clients::after {
   content: "";
   position: relative;
   display: block;
   width: 1158px;
   height: 2px;
   background-color: var(--basic-grey);
   left: 50%;
   transform: translateX(-50%);
 }

 .clients-list {
   list-style: none;
 }

 .clients-item img {
   opacity: 0.2;
 }

 .clients-item img:hover {
   opacity: 1;
 }

 .clients-item img:active{
   opacity: 0.1;
 }

 .clients-list li:not(:last-child)::after {
   content: "";
   width: 2px;
   height: 52px;
   background-color: var(--basic-grey);
   position: absolute;
   display: block;
   right: 0px;
   top: 50%;
   transform: translateY(-50%);
 }

 /* main-footer*/
 /* Contacts*/

 .contacts {
   background-image:;
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
 }

 .business-card {
   position: relative;
   z-index: 1;
   width: 319px;
   height: 308px;
   box-sizing: border-box;
   padding: 50px;
   padding-bottom: 47px;
   background-color: var(--basic-white);
 }

 .business-card-caption {
   font-weight: 700;
   font-size: 18px;
   line-height: 30px;
   text-transform: uppercase;
   color: var(--heading-color);
   margin-bottom: 22px;
 }

 .business-card-text,
 .contacts-phone {
   font-size: 16px;
   line-height: 18px;
   color: var(--content-color);
   margin: 0;
 }

 .business-card-text {
   margin-bottom: 18px;
 }

 .iframe-map {
   position: absolute;
   top: 0;

   border: none;
   width: 100%;
 }

 /* Social */
 .contacts-wrapper, .social-wrapper {
   width: 1160px;
   margin: 0 auto;}

 .social {
   background-color: var(--basic-white);
 }
 .social-wrapper{
   display: grid;
   grid-template-columns: min-content 1fr;
   column-gap: 139px;
   padding-top: 68px;
   padding-left: 142px;

   padding-bottom: 68px;

 }
 .text-container {
   grid-column: 2;
   grid-row: 1;
   padding-top: 8px;
 }

 .social-caption {
   font-weight: 700;
   font-size: 36px;
   line-height: 36px;
   color: var(--heading-color);
 }

 .social-text {
   font-size: 16px;
   line-height: 18px;
   color: var(--footer-benefit);
   margin-top: 8px;
 }

 .social-list {
   list-style: none;
   display: flex;
   margin: 0;
   padding: 0;
 }

 .social-item {
   width: 81px;
   height: 81px;
   border-radius: 50%;
   background-color: var(--basic-social-icon);

   margin-right: 9px;
 }

 .social-item:last-child {
   margin-right: 0;
 }


 .social-item:hover {
   background-color: var(--basic-red);
 }

 .social-item:active {
   background-color: var(--click-red);
   box-shadow: inset 0px 3px 0px var(--inner-shadow-color);
 }

 .social-button {
   background-repeat: no-repeat;
   background-position: 50% 50%;
   display: block;
   width: 100%;
   height: 100%;
 }
 .social-button-vkontakte {
   background-image: url("../img/vk.svg");
 }

 .social-button-facebook {
   background-image: url("../img/fb.svg");
 }

 .social-button-instagram {
   background-image: url("../img/insta.svg");
 }

 .social-item:active .social-button {
   opacity: 0.3;
 }

    /*CATALOG*/

 /*container*/
 .main-title-container{
   width:100%;
   height: 355px;
   background:var(--basic-grey)
 }
 .main-title {
   font-weight: 500;
   font-size: 55px;
   line-height: 55px;
   text-align: center;
   margin: 87px;
   padding: 0;
   font-family: "Roboto", "Arial", sans-serif;
   font-style: normal;
 }

 .page-catalog{
   display: grid;
   grid-template-columns: 1fr;
   column-gap: 100px;
 }

 .sort-container{
   display: flex;
   padding-top: 36px;
   padding-bottom: 32px;
 }
.sort-list{
  flex-grow: 1;
  margin-right: 40px;
  margin-left: 540px;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
}
 .sort-list{
   flex-grow: 1;
   margin-right: 40px;
 }

.sort-type{
  display: flex;
  margin: auto 33px auto 0px;
  list-style: none;
  padding: 0;
}

.field-item{
  margin-right: 25px;
}
.field-link{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-text-active-color);
}
.field-link:hover{
  color: var(--basic-text-hover-color);
}
 .field-link:active,
 .field-link-active{
   color:var(--heading-color);
 }
 .sort-range{
   display: flex;
   position: relative;
   right: -8px;
   margin: auto 0px;
 }
 .sort-button{
   display: flex;
   width: 11px;
   height: 10px;
   padding: 8px;
   cursor: pointer;
   border: none;
   border-radius: 0;
   background-color: transparent;
   opacity: 0.2;
 }
 .sort-button:hover{
   opacity: 1;
 }
 .sort-button-active{
   opacity: 1;
   color:var(--range-active-color);
 }
 .sort-button-active .sort-icon,
 .sort-button:active .sort-icon {
   color:var(--range-active-color);
 }
 .index-columns{
   display: grid;
   grid-template-columns: 260px 1fr;
   column-gap: 140px;
   width: 1160px;
   margin: 0px auto;
 }

.range-filter{
  width: 260px;
  margin-top: 34px;
}
.range-controls{
  position: relative;
  height: 41px;
  background-color: var(--basic-grey);
  margin-bottom: 14px;
  padding-top: 39px;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 3px;
}

 .range-controls .scale{
   height: 2px;
   background-color: var(--basic-green);
 }
 .range-controls .bar{
   height: 2px;
   width: 100%;
 }
 .range-controls .toggle{
   position: absolute;
   top: 30px;
   width: 4px;
   height: 4px;
   padding: 0;
   border: 8px solid var(--basic-white);
   background-color: var(--range-toggle-dot);
   border-radius: 50%;
   box-shadow: 0px 2px 1px var( --toggle-shadow);
   cursor: pointer;
   border-radius: 50%;
 }
 .range-controls .toggle-min{
   left: 0;
   margin-left: 18px;
 }
 .range-controls .toggle-max{
   right: 0;
   margin-right: 18px;
 }
 .price-controls label{
   text-transform: uppercase;
   font-size: 16px;
 }
 .price-controls input {
   width: 60px;
   padding: 10px;
   margin-left: 10px;
   text-align: center;
   color: var(   --heading-color);
   border: none;
   border-radius: 3px;
   background: var(   --basic-grey);
   font-family: inherit;
   font-size: inherit;
 }
 .sidebar-fieldset{
   border-width: 0px;
   border-style: initial;
   border-color: initial;
   border-image: initial;
   padding: 0px;
   margin: 0px 0px 25px;
 }
 .sidebar-features{
   margin-bottom: 27px;
 }
 .sidebar-legend{
   font-size: 18px;
   line-height: 30px;
   text-transform: uppercase;
   font-weight: 700;
   margin-bottom: 15px;
 }
 .sidebar-list{
   list-style: none;
   padding: 0px;
   margin: 0px;
 }
 .sidebar-option{
   margin-bottom: 22px;
}
 .sidebar-option label{
   padding-left: 36px;
   position: relative;
   display: block;
   cursor: pointer;
   user-select: none;

 }
 .sidebar-option label::before,
 .sidebar-option label::after{
opacity: 0.4;
 }
 .sidebar-option:hover label::before,
 .sidebar-option:hover label::after {
   opacity: 1;
 }
 .sidebar-option :disabled label::before,
 .sidebar-option:disabled label::after {
   opacity: 0.1;
 }
 .sidebar-input-checkbox+ label::after {
   visibility: visible;
 }
 .sidebar-input-checkbox+ label::before{
   content: "";
   position: absolute;
   left: 0px;
   top: -2px;
   width: 23px;
   height: 23px;
   border-radius: 3px;
   background-image: url("../img/checkbox.svg");
   box-shadow: inset 0 0 2px var(--catalog-cart-head);
 }
 .sidebar-input-checkbox:checked + label::before{
   box-shadow: none;

 }
 .sidebar-input-checkbox+ label::after{
   visibility: hidden;
   content: "";
   position: absolute;
   top: -2px;
   left: 2px;
   width: 24px;
   height: 20px;
   background-image: url("../img/ctr.svg");
 }
 .sidebar-input-checkbox:checked + label::after{
   visibility: visible;
 }
 .sidebar-input-checkbox:focus + label::after,
 .sidebar-input-checkbox:focus + label::before,
 .sidebar-input-radio:focus + label::after,
 .sidebar-input-radio:focus + label::before{
   opacity: 1;
 }

 .sidebar-input-radio + label::before{
   content: "";
   position: absolute;
   left: 0px;
   top: -2px;
   width: 25px;
   height: 25px;
   border-radius: 50%;
   box-shadow: inset 0 0 0 4px var( --catalog-cart-head);

 }
 .sidebar-input-radio + label::after{
   visibility: hidden;
   content: "";
   position: absolute;
   top: 6px;
   left: 8px;
   width: 9px;
   height: 9px;
   border-radius: 50%;
   background-color: var(--catalog-cart-head)
 }
 .sidebar-input-radio:checked+label::after{
   visibility: visible;
 }

 .cart-item-image{
   width:358px;
   height:578px;
   margin: 0;
 }
.cart-catalog{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 31px;
}
 .cart-item {
   width: 360px;
   min-height: 398px;
   font-weight: 400;
   margin-bottom: 32px;
   margin-right: 42px;
   font-size: 16px;
   line-height: 18px;
   border-radius: 5px;
   position: relative;
   color: var(--text-contact-cart);
   background-color: var(--basic-grey);
   box-shadow: 0 0 10px rgba(0,0,0,0.1);
 }
 .cart-item:hover {
   box-shadow: 0px 6px 15px var(--hover-shadow-color);
 }
 .cart-item::before {
   content: "";
   position: relative;
   display: block;
   background-color: var(--catalog-cart-head);
   width: 360px;
   height: 40px;
   border-radius: 4px 4px 0px 0px;
   opacity: 0.12;
 }

 .cart-item::after {
   content: "";
   position: absolute;
   display: block;
   top: 13px;
   left: 16px;
   width: 14px;
   height: 14px;
   border-radius: 50%;
   background-color: var(--basic-white);
   box-shadow: 23px 0px 0px var(--basic-white), 46px 0px 0px var(--basic-white);
 }
 .cart-item:hover::before {
   opacity: 1;
 }
 .cart-item:hover .cart-description,
 .cart-description:focus,
 .cart-title a:focus{
   opacity: 1;
 }
 .cart-description{
   background-color: var(--basic-grey)

 }
 .cart-description{
 display: flex;
   flex-wrap: wrap;
 flex-direction: column;
 align-items: center;
 opacity: 0;
 text-align: center;
 min-height: 231px;
 padding: 26px 52px 44px;
 box-sizing: border-box;
 z-index: 2;
 bottom: 0;
 left: 0;
 right: 0;
 }
 .cart-title{
   margin: 0;
   margin-bottom: 10px;
 }
 .cart-title a:hover,
 .cart-title a:focus{
   color:var(--focus-red);
 }
 .cart-title a{
   color: var(--heading-color);
   font-size: 18px;
   line-height: 30px;
   text-transform: uppercase;
 }
 .cart-text{
   font-size: 16px;
   line-height: 18px;
   color:var(--text-contact-cart);
   margin: 0;
   padding-bottom: 32px;
 }
 .price-button {
   width: 200px;
   padding-left: 0;
   padding-right: 0;

   margin-top: auto;
 }
 /*Pagination*/

 .pagination {
   padding-top: 52px;
   padding-bottom: 60px;
 }

 .pagination-list {
   display: flex;
   flex-wrap: wrap;
 }
 .pagination-list {
   list-style: none;
   padding: 0;
   margin: 0;
 }

 .pagination-item {
   margin-right: 12px;
 }

 .pagination-list .pagination-item:last-child {
   margin-right: 0;
 }
 .pagination-link {
   display: inline-block;

   vertical-align: middle;

   font-size: 16px;
   line-height: 18px;
   text-transform: uppercase;
   color: var(--heading-color);

   background-color: var(--basic-grey);
   box-shadow: inset 0 0 0 3px var(--basic-grey);
   border-radius: 3px;

   padding-top: 16px;
   padding-bottom: 16px;
   padding-left: 20px;
   padding-right: 20px;
 }

 .pagination-link:hover {
   background-color: var(--focus-grey);
   box-shadow: none;
 }

 .pagination-link:active {
   background-color: var(--focus-grey);
   color: var(--basic-text-active-color);
   box-shadow: inset 0px 3px 0px var(--inner-shadow-color);
 }

 .pagination-link-current {
   background-color: var(--transparent);
 }

 .pagination-next {
   padding-left: 78px;
   padding-right: 78px;
 }
 /*стили повидения каталога*/
 .grid-list:hover,
 .properties-list:hover {
   opacity: 50%;
 }
 .field-type:hover,
 .field-direct:hover {
   opacity: 50%;
 }
 .cart-name:hover {
   color: var(--basic-red);
 }
 .pagination-list:hover {
   background-color: var(--focus-grey);
 }
 /* Modal */
 .modal {
   display:none;
   position: fixed;
   left: 0;
   right: 0;
   top: 50%;
   transform: translateY(-50%);
   z-index: 99;
   margin: auto;
   background-color: var(--basic-white);
   box-shadow: 0px 20px 40px var(--modal-shadow);
 }

 .modal-show {
   display: block;
   animation: bounce 0.6s;
 }

 .modal-feedback {
   width: 760px;
   padding-left: 100px;
   padding-right: 100px;
   padding-bottom: 84px;
   padding-top: 63px;
 }

 .feedback-form {
   display: grid;
   grid-template-columns: 1fr 1fr;
   column-gap: 40px;
   row-gap: 34px;
 }

 .modal-half-container {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   flex-wrap: wrap;
 }

 .modal-alone-container {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   flex-wrap: wrap;
   width: 760px;
   margin-bottom: 12px;
   grid-column-start: 1;
   grid-column-end: 3;
 }

 .modal-alone-container textarea {
   height: 86px;
   resize: none;
 }
 .modal-title {
   font-size: 45px;
   line-height: 53px;
   color: var(--heading-color);
   margin: 0px;
   padding-right: 40px;
   margin-bottom: 37px;
 }

 .form-label {
   width: 100%;
   font-weight: 700;
   font-size: 16px;
   line-height: 18px;
   color: var(--heading-color);
   margin-bottom: 10px;
 }

 .modal-input {
   width: 100%;
   padding-left: 16px;
   padding-right: 16px;
   padding-top: 14px;
   padding-bottom: 14px;
   box-shadow: none;
   border: 2px solid var(--ui-input-border-color);
   border-radius: 3px;
 }

 .modal-input:hover {
   border-color: var(--ui-input-border-hover);
 }

 .modal-input:focus {
   border-color: var(--heading-color);
   outline: 0px;
   outline-offset: 0;
 }

 .modal-input:not(:placeholder-shown):invalid {
   border-color: var(--basic-red);
 }

 .modal-close {
   position: absolute;
   cursor: pointer;
   right: 90px;
   top: 80px;

   width: 21px;
   min-height: 21px;

   background-color: var(--transparent);
   border: none;
   box-shadow: none;
   opacity: 0.3;
 }

 .modal-close::before,
 .modal-close::after {
   content: "";
   display: block;

   position: absolute;
   top: 8px;
   left: -3px;

   width: 27px;
   height: 4px;

   background-color: var(--basic-red);
   border-radius: 1px;
 }

 .modal-close::before {
   transform: rotate(45deg);
 }

 .modal-close::after {
   transform: rotate(-45deg);
 }

 .modal-close:hover {
   opacity: 1;
 }

 .modal-close:active {
   opacity: 0.1;
 }

 .modal-submit {
   min-width: 259px;
   margin-right: auto;
 }



